.project {
    border: 1px solid blue;
    width: 270px;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

.icon img {
    width: 100px;
}


.showProject {
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.description {

}